@import "tailwindcss";
@import "../styles/famtech-theme.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.tiptap {

  /* Paragraph styling */
  p {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    line-height: 1.6;
  }

  /* Heading 1 */
  h1 {
    font-size: 2.25rem;
    /* text-4xl */
    font-weight: 800;
    line-height: 1.2;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #111827;
    font:capitalize;
    /* Gray 900 */
  }


  h2 {
    font-size: 1.875rem;
    /* text-3xl */
    font-weight: 700;
    line-height: 1.3;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    color: #1f2937;
    font:capitalize;
    /* Gray 800 */
  }


  a {
    color: #16a34a;
    /* Your green-600 */
    text-decoration: underline;
    font-weight: 500;
  }

  ul {
    list-style-type: disc !important;
    padding-left: 1.5rem !important;
    margin: 1rem 0;
  }

  ol {
    list-style-type: decimal !important;
    padding-left: 1.5rem !important;
    margin: 1rem 0;
  }

  

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
  }
  
  img.ProseMirror-selectednode {
    outline: 3px solid #16a34a;
  }

  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 2rem 0;
    overflow: hidden;
    border: 1px solid #e2e8f0;
  }

  td, th {
    min-width: 1em;
    border: 1px solid #e2e8f0;
    padding: 8px 12px;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
  }

  th {
    font-weight: bold;
    text-align: left;
    background-color: #f8fafc;
  }

  blockquote {
    border-left: 6px solid #16a34a; /* Deep green */
    background-color: #f0fdf4; /* Very light green */
    padding: 1.25rem;
    margin: 1.5rem 0;
    border-radius: 0 0.5rem 0.5rem 0;
    color: #166534;
    font-weight: 500;
  }

}